# Godot 4+ specific ignores
.godot/
# Dont upload local settings to github
*.cfg
# Dont upload the game export to github
Export/
# Dont upload the locally saved todo list,
# it changes so often I dont want git tracking it
todo.md
